body {
	background: #FFFFFF;
	font-family: ubuntu;
}

stripe tbody tr:nth-child(odd) {
	background-color: #DDDDDD;
	}

stripe thead {
	background-color: #E6710A;
	font-weight: bold;
	color: #FFFFFF;
}

